@charset 'utf-8';


body{
    font-family: 'Avenir';
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}

a {
    position: relative;
    overflow: hidden;
}
  
a img {
    width: 100%;
}

a img:hover{
    opacity: 0.8;
    filter: alpha(opacity=70);
}

.card_text {
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: -25px;
    background-color: rgb(255, 255, 255);
    color: #230D06;
    font-weight: bold;
    text-align: center;
    /* opacity: 0.8; */
    z-index: 500;
}





.wrap{
    overflow: hidden;
}
header{
    position: relative;
    font-weight: bold;
    /* text-align: center; */
}
header ul{
    position: absolute;
    display: flex;
    color: white;
    margin-top: 45px;
    margin-left: 37px;
}
header ul li{
    list-style: none;
    margin-left: 55px;
}
.navigation{
    width: 100%;
    text-align: center;
}
.long_text{
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 170px;
    line-height: 170px;
    margin-top: 145px;
    z-index: 500;
}
.long_text span{
      opacity: 0;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}
header img{
    width: 100%;
}
.logo{
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    margin-top: 43px;
    width: 200px;
    /* justify-content: center; */
}

.introduction{
    background-color: #034098;
    margin: 19px;
    text-align: center;
    padding: 190px;
    padding-bottom: 170px;
    margin-bottom: 0;
}

.introduction img{
    margin-bottom: 30px;
    width: 255px;
}
.introduction h1{
    font-weight: bold;
    font-size: 65px;
    color: white;
    margin-bottom: 115px;
}
.introduction p{
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    color: white;
}

.image_blog{
    display: flex;
    justify-content: center;
    height: 379px;
    /* width: 100%; */
}
.image_blog img{
    height: 360px;
    width: 470px;
    object-fit:cover;
    text-align: center;
    margin-top: 19px;
}
.img_center{
    margin: 0 20px;
    
}

.menu_wrapper{
    background-color: #034098;
    padding: 19px;
    text-align: center;

}
.inner_menu{
    background-color: white;
    color: #E60012;
    
}
.inner_menu h1{
    font-weight: bold;
    font-size: 75px;
    padding-top: 200px;
    padding-bottom: 125px;
    
}

.menus_wrapper{
    color: #710009;
    margin: 0 110px;
    
}
.three_menus{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}


.once_menu{
    text-align: left;
    width: 300px;
    height: 530px;
    
}
.once_menu img{
    width: 300px;
    height: 225px;
    object-fit:cover;

}
.once_menu h2{
    font-size: 16px;
    position: absolute;
    margin: 21px 0;
}
.once_menu .price{
    margin-right: 0;
    text-align: right;
    position: relative;

}
.once_menu p{
    font-weight: bold;
    border-top: 1px solid #710009;
    clear: both;
    font-size: 14px;
    padding-top: 25px;
    line-height: 25px;
}

.image_blog4{
    display: flex;
    justify-content: space-between;
    height: 260px;
    /* width: 100%; */
}
.image_blog4 img{
    height: 260px;
    width: 348px;
    object-fit:cover;
    text-align: center;
    /* margin-top: 19px; */
}

.news_wrapper{
    padding: 19px;
    padding-bottom: 0;
    text-align: center;
    color: #034098;
    border-color: #034098;
}
.news{
    background-color: #FEF2DA;
    padding: 0 100px;
    padding-bottom: 82px;
}
.news h1{
    font-size: 75px;
    color: #034098;
    padding-top: 200px;
    padding-bottom: 130px;
    font-weight: bold;
}
.news p{
    border-top: 1px solid #034098;
}
.news h2{
    position: static;
}

.access_wrapper{
    background-color: #034098;
    color: rgb(255, 255, 255);
    margin: 19px;
    height: 1700px;
    position: relative;
    /* padding: 0 300px; */
    font-weight: bold;
}
.access_wrapper h1{
    font-size: 65px;
    text-align: center;
    padding-top: 225px;
    padding-bottom: 130px;
}
.access{
    display: inline-block;
    position: absolute;
    width: 100%;
}
.map{
    width: 390px;
    height: auto;
    float: left;
    margin-right: 150px;
    margin-left: 300px;
}
.inner_access {
    width: auto;
}

.logo_min{
    width: 240px;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    margin-top: 85px;
}

.cafedeparis{
    margin: 26px 0 22px 0;
}
.access_text{
    line-height: 32px;
}
.footer_long_text{
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 180px;
    line-height: 210px;
    margin-top: -530px;
    /* padding-bottom: 100px; */
    z-index: 500;
}

.footer{
    background-color: #E60012;
    text-align: center;
    color: white;
    height: 630px;
    position: relative;
    margin: 19px;
}
small{
    font-weight: bold;
    position: absolute;
    bottom: 95px;
    left: 0;
    right: 0;
}

